body, html{
    background-color: rgb(226, 226, 226);
    height: 100%;
    margin: 0;
}

.footer {
    background-color: white;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

label, h1{
    font-weight: bold;
    margin-left: 5px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}   